<div class="card search">
  <h1 class="search-headline">Artist Directory</h1>
  <label class="search-label">search
    <span *ngIf="query"> for: {{query}}</span>
  </label>

  <input type="text" class="search-input"
         [(ngModel)]="query" placeholder="Search..." >

</div>

<ul class="artistlist cf" *ngIf="query">
  <li class="artistlist-item cf"
      (click)="showArtist(artist); query='';"
      *ngFor="let artist of (artists | search: query)">
  <app-artist-item [artist]="artist" class="content"></app-artist-item>
  </li>
</ul>


<app-artist-detail *ngIf="currentArtist" [artist]="currentArtist"></app-artist-detail>
